# Framework principal
Flask==3.0.3  # ou FastAPI==0.68.2, dependendo do framework escolhido

# ORM e Migração
SQLAlchemy==2.0.36
alembic==1.13.3

# Variáveis de ambiente
python-dotenv==1.0.1

# Validação de dados
marshmallow==3.23.1  # ou use pydantic integrado no FastAPI

# Autenticação JWT
PyJWT==2.9.0

# Testes
pytest==8.3.3
requests==2.32.3
